/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
/* Page specific styles */

.timer-container {
  display: flex;
  flex-direction: row;
  display: flex;
  font-size: 36px;
  align-items: center;
  margin-left: 15px;
}


.timer {
  display: flex;
  margin-top: 15px;
  gap: 0.5px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
  font-size: 17px;
}

.label {
  font-size: 11px;
  color: #333;
  font-family: sans-serif;
  font-weight: 600;
}

.value {
  font-size: 32px;
  font-weight: 400;
  color: #333;  
  font-family: sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  font-size: 18px;
  margin-left: 15px;
  max-width: 250px;
}

.form label {
  font-size: 14px;
  color: #333;
  font-family: sans-serif;
  font-weight: 600;
  width: 100px;
}

.form input {
  padding: 1px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 197px;
}



